<!-- BARRA DE NAVEGACIÓN -->
<nav class="navbar" *ngIf="auth.estaLogueado">
  
  <!-- LADO IZQUIERDO: Menú Contextual -->
  <div class="nav-links">
    <a *ngIf="!esHome" routerLink="/home" class="nav-item home-btn" routerLinkActive="active">
      🏠 INICIO
    </a>

    <ng-container *ngIf="!esHome">
      <a routerLink="/ventas" class="nav-item" routerLinkActive="active">🛒 VENTAS</a>
      <a routerLink="/productos" class="nav-item" routerLinkActive="active">📦 PRODUCTOS</a>
      <a routerLink="/historial" class="nav-item" routerLinkActive="active">📜 HISTORIAL</a>
      <a routerLink="/proveedores" class="nav-item" routerLinkActive="active">🚚 PROVEEDORES</a>
      <a routerLink="/almacenes" class="nav-item" routerLinkActive="active">🏭 ALMACENES</a>
      <a routerLink="/inventarios" class="nav-item" routerLinkActive="active">📦 DISTRIBUCIÓN</a>
      <a routerLink="/usuarios" class="nav-item" routerLinkActive="active">👥 USUARIOS</a>
    </ng-container>
  </div>

  <!-- LADO DERECHO -->
  <div class="user-info">
    <span class="email-text">
      Hola, {{ auth.usuario?.email }}
    </span>
    
    <a routerLink="/perfil" style="color: #4da3ff; margin-right: 15px; text-decoration: none; font-size: 13px; font-weight: bold; cursor: pointer;">
       👤 Mi Perfil
    </a>

    <button (click)="auth.logout()" class="btn-salir">
      Salir
    </button>
  </div>
</nav>

<!-- Contenido -->
<div class="main-content">
  <router-outlet></router-outlet>
</div>